@import 'tailwindcss';
@plugin '@tailwindcss/forms';

:root {
	font-family: Inter, sans-serif;
	font-feature-settings:
		'liga' 1,
		'calt' 1,
		'cv05' 1;
}
@supports (font-variation-settings: normal) {
	:root {
		font-family: InterVariable, sans-serif;
	}
}

@layer utilities {
	html {
		scrollbar-color: var(--color-amber-700) var(--color-taupe-300);
	}
	@media (prefers-color-scheme: dark) {
		html {
			scrollbar-color: var(--color-amber-400) var(--color-taupe-700);
		}
	}
}
